* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #242424;
}

body {
    margin: 0;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    transition: background-image 3s ease-in-out;
}

main {
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.red {
    color: red;
}

.green {
    color: green;
}

/* TOP SECTION */
div.top {
    display: flex;
    justify-content: space-between;
}

/* Coin section (left upper corner) */
#coin-section {
    padding: 1em;
    border-radius: 10px;
    text-align: center;
    background-color: black;
    opacity: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    width: 200px;
}

#crypto h3,
#marketchanges h3,
#price-percent {
    font-size: 0.7rem;
}

.coin-name {
    font-size: 0.7rem;
    display: inline;
    margin-right: 0px;
}

#crypto-price {
    display: inline;
    margin-left: 0px;
}

#coin-img {
    width: 20px;
}

div#crypto {
    font-size: 1.3rem;
}

#bitcoin {
    display: flex;
    align-items: center;
}

#bitcoin>span {
    margin-left: 10px;
}

#crypto-price {
    margin-left: 0.5em;
}


#price-percent {
    font-size: 0.8rem
}

/* Qoute section (top center)*/
#quote {
    text-align: center;
    text-shadow: 0px 0px 20px #242424;
    background-color: black;
    opacity: 60%;
    border-radius: 10px;
    font-size: 0.7rem;
    height: 80px;
    padding: 1em;
}

#quote-title {
    text-shadow: 0px 0px 20px #242424;
    margin-bottom: 0;
}

/* Weather section (top right corner) */
#weather {
    padding: 0.6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    opacity: 60%;
    border-radius: 10px;
}

#weather-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

#weather-title {
    width: 100%;
    margin-top: -15px
}

/* MIDDLE SECTION */
#middle-section {
    display: flex;
    justify-content: center;
}

.to-do-list {
    text-align: center;
    background-color: black;
    opacity: 60%;
}

#time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
}


h1.time {
    text-align: center;
    font-size: 10rem;
}

#time-hourminute {
    margin: 0 auto;
    font-size: 5rem;
}

#date {
    margin-top: 0;
}


/* BOTTOM SECTION */
#news {
    display: grid;
    margin-top: 0;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    text-align: center;
    grid-gap: 0.5rem;
}

.news-article {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    opacity: 0.9;
    height: 200px;
}

/* .news-title {
    font-size: 0.5rem;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.news-description {
    font-size: 0.5rem;
    color: whitesmoke;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
} */

/* .news-article image {
    width: 100px;
    backdrop-filter: blur(5px);
}

#middle-article {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 50%;
    margin: auto;
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.news-link {
    font-size: 0.5rem;
    color: red;
} */

#news-btn,
#news-btn-close,
#to-do-btn {
    background-color: black;
    width: 80px;
    height: 80px;
    opacity: 60%;
}

#news-btn:hover,
#to-do-btn:hover {
    background-color: grey;
}

#news-icon {
    padding-top: 0.7em;
    font-size: 2rem;
}

#to-do-btn {
    align-self: end;
    align-self: start;
    justify-self: start;
}

.to-do-list {
    height: 300px;
    border-radius: 10px;
    margin-left: 2em;
    padding: 1em;
    font-size: 0.6rem;
    text-align: center;
}

.remove-todo {
    border-radius: 20px;
    display: inline;
}

.to-do-list button,
.to-do-list input {
    border: none;
    background-color: grey;
    color: white;
}

.to-do-list input {
    margin: 0.2rem;
}


.todo-item {
    display: inline-block
}

.to-do-list ul {
    text-decoration: none;
    list-style-type: none;
}

.to-do-list li {
    width: 100px;
    text-align: left;
}

#icon {
    padding-top: 1em;
    height: 60px;
    width: 40px;
    color: red;
}

